# This is Git's per-user configuration file.
[user]
  name = Zach Robinson
  email = zach.robinson@gmail.com

[alias]
  ci = commit --verbose
  co = checkout
  ds = "diff --staged"
  lg = "log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an & %cn%Creset'"
  squash = "commit --squash"
  s = status -s
  st = status -s
  unstage = "reset HEAD"

[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/

[pull]
	rebase = true