# This is Git's per-user configuration file.
[user]
  name = Zach Robinson
  email = zach.robinson@gmail.com

[alias]
  a = add -p
  alias = "! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | grep -v ^alias"
  amend = commit --amend --no-edit
  ci = commit --verbose
  co = checkout
  ds = "diff --staged"
  lg = log --graph --decorate --oneline
  lol = "log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an & %cn%Creset'"
  lod = "log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)%an & %cn%Creset'"
  s = status --short --branch
  st = status --short --branch
  squash = "commit --squash"
  unstage = "reset HEAD"

[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/

[pull]
	rebase = true

[merge]
  conflictStyle = diff3

[core]
  pager = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight | less

[interactive]
  diffFilter = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight

[init]
  defaultBranch = main

[pager]
  branch = false
