# This is Git's per-user configuration file.
[user]
  name = Zach Robinson
  email = zach.robinson@gmail.com

[alias]
  a = "add -p"
  aa = "add ."
  ca = "commit -a --verbose"
  ci = "commit --verbose"
  amend = "commit --amend --no-edit"
  rbi = "rebase -i"

  d = "diff"
  ds = "diff --staged"

  lg = "log --graph --decorate --oneline"
  lol = "log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an & %cn%Creset'"
  lod = "log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)%an & %cn%Creset'"

  co = "checkout"
  s = "status --short --branch"
  st = "status --short --branch"
  unstage = "reset HEAD"

  alias = "! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | grep -v ^alias | sort"

[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/

[push]
  autoSetupRemote = true

[pull]
	rebase = true

[merge]
  conflictStyle = diff3

[core]
  pager = "${__WORKSTATION_DIFF_HIGHLIGHT_PREFIX}/share/git-core/contrib/diff-highlight/diff-highlight" | less

[interactive]
  diffFilter = "${__WORKSTATION_DIFF_HIGHLIGHT_PREFIX}/share/git-core/contrib/diff-highlight/diff-highlight"

[init]
  defaultBranch = main

[pager]
  branch = false

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
